.group__options {
  display: flex;
  align-items: center;
  gap: 2rem;

  .option {
    width: 256px;
    padding: 1rem 1.5rem 2.5rem;
    background: white;
    border-radius: 1.5rem;
    border: 3px solid transparent;
    box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__check {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: white;
      border: 1px solid #a9afd9;
      align-self: end;

      display: flex;
      justify-content: center;
      align-items: center;

      &--selected {
        background: #389e0d;
        border: 1px solid #389e0d;
      }
    }

    &__title {
      color: #141938;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: 1.75rem;
      letter-spacing: -0.2px;
    }

    &__description {
      color: #141938;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: 0.2px;
    }

    &--selected {
      border: 3px solid #f5f5f5;
      box-shadow: none;
    }
  }
}

@media (max-width: 768px) {
  .some-selector {
  padding: 2rem 3rem 40px;
  }
}

@media (max-width: 768px) {
  .back {
    display: none;
  }

  .group__options {
    flex-direction: column;

    .option {
      width: 100%;
    }
  }

  .list__plans {
    margin-top: 40px;
    flex-direction: column;

    .plan {
      width: 100%;
    }
  }

  .summary-container {
    .summary--title {
      color: #141938;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.5rem;
      letter-spacing: -0.6px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}


@media (max-width: 768px) {
  .breadcrumb {
    display: none;
  }

  .breadcrumb__mobile {
    display: grid;
  }

  .divider {
    display: flex;
  }
}
